#sunfw_section_header {
  margin-top: 15px;
  margin-bottom: 30px;
}
#sunfw_section_footer {
  margin-top: 30px;
  padding-bottom: 30px;
}
#column_column-3 {
  padding-bottom: 15px;
}
#column_column-10 {
  margin-top: 10px;
}
